<!DOCTYPE html>
<head>

</head>
<body>
    <label>UserName: </label>
    <input id="userName" placeholder="Give username">
    <label>Password: </label>
    <input id="password" placeholder="Give password">
    <button id="loginButton">Login</button>
    <script src="/js/loginPageJs.js"></script>
</body>